html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
header {
  /* border: 0.1em red solid;  */
  background-image: linear-gradient(#78a57d, white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  margin: 0;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.alice {
  height: 40vh;
  width: auto;
  transform: translateY(40px);
  border: solid whitesmoke 0.5em;
  border-radius: 2em;
}
.info {
  /*  border: 0.1em red solid; */
  color: #07570bea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 15em;
}
p {
  margin-inline: 1em;
  padding: 1em;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.025em;
  color: darkslategrey;
}
.intro {
  margin-top: 4em;
  border: 0.3em solid #78a57d;
  padding: 2em;
  font-size: small;
  border-radius: 2em;
}

footer {
  background-color: #78a57d;
  color: beige;
  text-align: center;
}
